<div class="container">

  <div class="row">
    <div class="col-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="projectName">Your project name</label>
        <input type="text"  [(ngModel)]="model.projectName" id="projectName" class="form-control" placeholder="project name">
      </div>

      <div class="form-group">
        <label for="projectDesc">Your project description</label>
        <textarea name="" id="projectDesc" [(ngModel)]="model.projectDesc" cols="30" rows="10" class="form-control" placeholder="project description"></textarea>
      </div>

      <button class="btn btn-success" (click)="createProject()">Create</button>
    </div>

    <div class="col-md-4"></div>
  </div>
</div>
